@import url("../src/style/adminCategoryPage.css");
@import url("../src/style/adminDashboard.css");
@import url("../src/style/AdminDashboardPage.css");
@import url("../src/style/adminInboxPages.css");
@import url("../src/style/adminListmanages.css");
@import url("../src/style/adminOrderDetailPage.css");
@import url("../src/style/adminProductEntryHistoyPage.css");
@import url("../src/style/adminProductHistorialPage.css");
@import url("../src/style/adminProductRow.css");
@import url("../src/style/adminProductManager.css");
@import url("../src/style/adminSalesHistoryPage.css");
@import url("../src/style/cardItem.css");
@import url("../src/style/cardPage.css");
@import url("../src/style/catalogoPage.css");
@import url("../src/style/checkoutModal.css");
@import url("../src/style/confirmModal.css");
@import url("../src/style/editProduckPage.css");
@import url("../src/style/favoritePageButton.css");
@import url("../src/style/filterExportControls.css");
@import url("../src/style/footer.css");
@import url("../src/style/heroBlock.css");
@import url("../src/style/historyDetailModal.css");
@import url("../src/style/loader.css");
@import url("../src/style/loaderSombrero.css");
@import url("../src/style/myOrders.css");
@import url("../src/style/navbar.css");
@import url("../src/style/pdfStyles.css");
@import url("../src/style/producDetailBlock.css");
@import url("../src/style/productForm.css");
@import url("../src/style/productListPage.css");
@import url("../src/style/productPriceBlock.css");
@import url("../src/style/produtCard.css");
@import url("../src/style/profilePage.css");
@import url("../src/style/recetasPanelaPage.css");
@import url("../src/style/styles.css");
@import url("../src/style/supportChatBlock.css");
@import url("../src/style/toast.css");
@import url("../src/style/registerProductpage.css");
@import url("../src/style/userAdminPage.css");
