/* src/index */
/*
@import url("../src/style/adminCategoryPage.css");
@import url("../src/style/adminDashboard.css");
@import url("../src/style/AdminDashboardPage.css");
@import url("../src/style/adminInboxPages.css");
@import url("../src/style/adminListmanages.css");
@import url("../src/style/adminOrderDetailPage.css");
@import url("../src/style/adminProductEntryHistoyPage.css");
@import url("../src/style/adminProductHistorialPage.css");
@import url("../src/style/adminProductRow.css");
@import url("../src/style/adminProductManager.css");
@import url("../src/style/adminSalesHistoryPage.css");
@import url("../src/style/cardItem.css");
@import url("../src/style/cardPage.css");
@import url("../src/style/catalogoPage.css");
@import url("../src/style/checkoutModal.css");
@import url("../src/style/confirmModal.css");
@import url("../src/style/editProduckPage.css");
@import url("../src/style/favoritePageButton.css");
@import url("../src/style/filterExportControls.css");
@import url("../src/style/footer.css");
@import url("../src/style/heroBlock.css");
@import url("../src/style/historyDetailModal.css");
@import url("../src/style/loader.css");
@import url("../src/style/loaderSombrero.css");
@import url("../src/style/myOrders.css");
@import url("../src/style/navbar.css");
@import url("../src/style/pdfStyles.css");
@import url("../src/style/producDetailBlock.css");
@import url("../src/style/productForm.css");
@import url("../src/style/productListPage.css");
@import url("../src/style/productPriceBlock.css");
@import url("../src/style/produtCard.css");
@import url("../src/style/profilePage.css");
@import url("../src/style/recetasPanelaPage.css");
@import url("../src/style/styles.css");
@import url("../src/style/supportChatBlock.css");
@import url("../src/style/toast.css");
@import url("../src/style/registerProductpage.css");
@import url("../src/style/userAdminPage.css");
*/

/* 1) Tokens */

@import url("./style/base/tokens.css");

/* 2) Base */
@import url("./style/base/base.css");

/* 3) Componentes */
@import url("./style/components/button.css");
@import url("./style/components/badge.css");
@import url("./style/components/card.css");
@import url("./style/components/table.css");
@import url("./style/components/form.css");
@import url("./style/components/toast.css");

/* 4) Utilidades */
@import url("./style/base/utilities.css");

/* 5) Páginas (solo layout/ajustes específicos) */
@import url("./style/pages/adminAlertPage.css");
@import url("./style/pages/adminDashboard.css");
@import url("./style/pages/adminListManages.css");
@import url("./style/pages/adminOrder.css");
@import url("./style/pages/adminOrderDetailPage.css");
@import url("./style/pages/adminProductEntryHistoryPage.css");
@import url("./style/pages/adminProductManager.css");
@import url("./style/pages/adminUserPage.css");
@import url("./style/pages/authpage.css");
@import url("./style/pages/cardPage.css");
@import url("./style/pages/confirmModal.css");
@import url("./style/pages/footer.css");
@import url("./style/pages/heroBlock.css");
@import url("./style/pages/myOrders.css");
@import url("./style/pages/navbar.css");
@import url("./style/pages/productDetailPage.css");
@import url("./style/pages/productListPage.css");
@import url("./style/pages/profilePage.css");
@import url("./style/pages/recetasCafePanela.css");
@import url("./style/pages/registerProductPage.css");

/* 6) pruebas con los estilos antiguos*/
